/* static/styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Dark background color */
    color: #ffffff; /* Light text color */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #212121; /* Slightly lighter background color */
}

header {
    text-align: center;
    margin-bottom: 20px;
}

main {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: #333333; /* Dark input background color */
    color: #ffffff; /* Light text color */
    border: 1px solid #555555; /* Dark border color */
}

button {
    background-color: #009688; /* Teal button color */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #00796b; /* Darker teal on hover */
}

#result {
    padding: 20px;
    border: 1px solid #555555; /* Dark border color */
    background-color: #333333; /* Dark result background color */
    color: #ffffff; /* Light text color */
    border-radius: 5px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #212121; /* Slightly lighter background color */
    color: #ffffff; /* Light text color */
}
